* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.page1 {
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo h1 {
  display: flex;
  gap: 10px;
  font-size: 2rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  font-size: large;
  transition: color 0.3s;
  font-weight: 700;
}
nav button {
  padding: 10px 8px;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  font-size: large;
  cursor: pointer;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  position: relative;
  gap: 60px;
}

.center-part01 {
  /* background-color: orange; */
  height: 100%;
  width: 40%;
  padding: 50px 40px;
}
.center-part01 h3 {
  font-size: 3rem;
  font-weight: 600;
  font-family: monospace;
}
.center-part01 p {
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 25px;
}
.center-part01 button {
  padding: 16px 20px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 600;
}
.center-part02 {
  background-color: red;
  height: 100%;
  width: 60%;
}
.center-part02 img {
  height: 500px;
  width: 600px;
  object-fit: cover;
  position: absolute;
  top: 100px;
}
