* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: crimson;
}
#page2 {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background-color: lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: palegreen;
}

#page2 #card {
  font-size: 15vw;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: 10;
  right: 10;
  z-index: 2;
}

#card {
  width: 300px;
  height: 300px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  background-color: #eaead2;
}
#card img {
  display: hidden;
  width: 10px;
  height: 10px;
}
.big-image {
  height: 100vh;
  width: 100vw;

  position: absolute;
  z-index: 3;
}

/* Outer  */
.card {
  width: max-content;
  height: 100%;
  padding: 60px 20px 20px 20px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  gap: 20px; /* Adds 20px of space between all children */

  /* Optional: keeps items in a row or stacks them */
  flex-direction: row;
  overflow: visible;
}
.product-card {
  overflow: hidden;
  width: 800px;
  min-width: 800px;
  flex-shrink: 0;
  background-color: rgb(236, 232, 168);
  border: 1px solid rgb(248, 228, 113);
  border-radius: 15px;
  padding: 30px;
  margin: 10px;

  box-sizing: border-box;
  justify-content: center;
}

.title {
  font-size: 28px;
  margin: 0 0 15px 0;
  font-weight: normal;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(47, 46, 46);
}

.price-container {
  font-size: 24px;
  margin-bottom: 40px;
}

.current-price {
  font-weight: normal;
  margin-right: 10px;
}

.original-price {
  text-decoration: line-through;
  color: var(--text-strike);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.card-img {
  max-width: 100%;
  height: auto;
  display: block;
}