* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;

}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
}

#image {
    height: 30vw;
    width: 60vw;
    background-color: red;
    background-image: url("https://images.pexels.com/photos/9888756/pexels-photo-9888756.jpeg");
    background-position: center;
    background-size: cover;

}