*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 100px;
    /* background-color: red; */
    overflow: hidden;
}

h1 span{ 
    display: inline-block;
}